html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: center;
  padding: 36px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .header-logo img {
  width: 155px;
  height: 25px;
}
header .container .header-menu {
  display: flex;
  gap: 40px;
}
header .container .header-menu li {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  color: #000000;
}
header .container .header-info {
  display: flex;
  gap: 13px;
  align-items: center;
}
header .container .header-info input {
  padding: 8px 18px;
  background-color: #2933AB;
  border: none;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: white;
}
header .container .header-info input:hover {
  border: 2px solid #2933AB;
  background: none;
  padding: 7px 17px;
}
header .container .header-info a {
  display: flex;
  align-items: center;
}

footer {
  padding: 150px 135px;
  background-color: #2933AB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .footer-info img {
  width: 307px;
  height: -moz-fit-content;
  height: fit-content;
}
footer .footer-info p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: white;
}
footer .footer-menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .footer-menu ul {
  display: flex;
  justify-content: space-between;
}
footer .footer-menu ul li {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: white;
}
footer .footer-menu .footer-menu_else-info {
  display: flex;
  gap: 25px;
}
footer .footer-menu .footer-menu_else-info a {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: white;
  text-decoration: underline;
}

header .container .header-menu li:nth-of-type(2) a {
  color: #2933AB;
  font-weight: bold;
}

.container {
  width: 94.4444444444%;
}

.heading {
  display: flex;
  justify-content: center;
  padding: 127px 0 100px;
}
.heading h1 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  line-height: 48.76px;
  color: #000000;
}

.about-company {
  display: flex;
  justify-content: center;
}
.about-company .container {
  display: flex;
  flex-direction: column;
  gap: 125px;
}
.about-company .container [class^=about-company_] {
  display: flex;
  align-items: center;
  gap: 35px;
}
.about-company .container [class^=about-company_] [class$=_content] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
}
.about-company .container [class^=about-company_] [class$=_content] h2 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  line-height: 48.76px;
  color: #000000;
}
.about-company .container [class^=about-company_] [class$=_content] [class$=_content_text] {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-company .container [class^=about-company_] [class$=_content] [class$=_content_text] p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #000000;
}
.about-company .container [class^=about-company_] img {
  width: 46.5277777778%;
  height: -moz-fit-content;
  height: fit-content;
}

.review {
  display: flex;
  justify-content: center;
  margin: 140px 0;
}
.review .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.review .container h2 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  line-height: 48.76px;
  color: #000000;
}
.review .container .review_cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.review .container .review_cards .review_cards_card {
  padding: 60px 35px;
  background-color: #2933AB;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 370px;
}
.review .container .review_cards .review_cards_card .review_cards_card_heading {
  display: flex;
  gap: 20px;
}
.review .container .review_cards .review_cards_card .review_cards_card_heading .review_cards_card_heading_photo {
  min-width: 105px;
  min-height: 105px;
  border: none;
  border-radius: 50px;
  background-image: url("../img/user/Alex.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.review .container .review_cards .review_cards_card .review_cards_card_heading .review_cards_card_heading_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.review .container .review_cards .review_cards_card .review_cards_card_heading .review_cards_card_heading_info h3 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  line-height: 24.38px;
  color: white;
}
.review .container .review_cards .review_cards_card .review_cards_card_heading .review_cards_card_heading_info span:first-of-type {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: white;
}
.review .container .review_cards .review_cards_card .review_cards_card_heading .review_cards_card_heading_info span:last-of-type {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: rgba(255, 255, 255, 0.48);
}
.review .container .review_cards .review_cards_card p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: white;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  margin-bottom: 140px;
}
.contacts h2 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  line-height: 48.76px;
  color: #000000;
}
.contacts .contacts_info {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.contacts .contacts_info [class^=contacts_info_] {
  display: flex;
  gap: 20px;
  align-items: center;
}
.contacts .contacts_info [class^=contacts_info_] .contacts_info_phone_two {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contacts .contacts_info [class^=contacts_info_] span {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  color: #000000;
}/*# sourceMappingURL=about-company.css.map */