html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: center;
  padding: 36px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .header-logo img {
  width: 155px;
  height: 25px;
}
header .container .header-menu {
  display: flex;
  gap: 40px;
}
header .container .header-menu li {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  color: #000000;
}
header .container .header-info {
  display: flex;
  gap: 13px;
  align-items: center;
}
header .container .header-info input {
  padding: 8px 18px;
  background-color: #2933AB;
  border: none;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: white;
}
header .container .header-info input:hover {
  border: 2px solid #2933AB;
  background: none;
  padding: 7px 17px;
}

footer {
  padding: 150px 135px;
  background-color: #2933AB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .footer-info img {
  width: 307px;
  height: -moz-fit-content;
  height: fit-content;
}
footer .footer-info p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: white;
}
footer .footer-menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .footer-menu ul {
  display: flex;
  justify-content: space-between;
}
footer .footer-menu ul li {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: white;
}
footer .footer-menu .footer-menu_else-info {
  display: flex;
  gap: 25px;
}
footer .footer-menu .footer-menu_else-info a {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: white;
  text-decoration: underline;
}

header .container .header-menu li:nth-of-type(1) a {
  color: #2933AB;
  font-weight: bold;
}

.container {
  width: 94.4444444444%;
}

.heading {
  display: flex;
  justify-content: center;
  padding: 127px 0 100px;
}
.heading h1 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  line-height: 48.76px;
  color: #000000;
}

.content {
  display: flex;
  justify-content: center;
  margin-bottom: 240px;
}
.content .container {
  display: flex;
  gap: 20px;
}
.content .container .content_filter {
  padding: 50px 20px;
  border: 2px solid #E6E7EF;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.content .container .content_filter .content_filter_heading h2 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  line-height: 24.38px;
  color: #000000;
}
.content .container .content_filter .content_filter_filters {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content .container .content_filter .content_filter_filters [class^=content_filter_filters_] {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content .container .content_filter .content_filter_filters [class^=content_filter_filters_] span {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  color: #000000;
}
.content .container .content_filter .content_filter_filters [class^=content_filter_filters_] select {
  height: 45px;
  width: 100%;
  background-color: #E6E7EF;
  padding: 10px 20px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #000000;
}
.content .container .content_filter .content_filter_filters [class^=content_filter_filters_] [class$=_info] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content .container .content_filter .content_filter_filters [class^=content_filter_filters_] [class$=_info] [class*=_info_] {
  display: flex;
  flex-direction: row;
  gap: 7px;
}
.content .container .content_filter .content_filter_filters [class^=content_filter_filters_] [class$=_info] [class*=_info_] span, .content .container .content_filter .content_filter_filters [class^=content_filter_filters_] [class$=_info] [class*=_info_] label {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #000000;
}
.content .container .content_filter .content_filter_filters [class^=content_filter_filters_] [class$=_info] [class*=_info_] input[type=text] {
  max-width: 110px;
  border: 2px solid #E6E7EF;
}
.content .container .content_filter .content_filter_filters [class^=content_filter_filters_] [class$=_info] [class*=_info_] input[type=text]::-moz-placeholder {
  color: #9F9F9F;
}
.content .container .content_filter .content_filter_filters [class^=content_filter_filters_] [class$=_info] [class*=_info_] input[type=text]::placeholder {
  color: #9F9F9F;
}
.content .container .content_filter input[type=button] {
  background-color: #2933AB;
  border: none;
  padding: 15px 35px;
  width: 100%;
  height: 50px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  color: white;
}
.content .container .content_filter input[type=button]:hover {
  padding: 11px 31px;
  border: 2px solid #2933AB;
  background: none;
}
.content .container .content_cars {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px;
  width: 100%;
}
.content .container .content_cars .content_cars_cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
.content .container .content_cars .content_cars_cards .content_cars_cards_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  width: 325px;
}
.content .container .content_cars .content_cars_cards .content_cars_cards_card .content_cars_cards_card_img {
  background-image: url("../img/cars/volkswagen-tiguan.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  height: 345px;
}
.content .container .content_cars .content_cars_cards .content_cars_cards_card .content_cars_cards_card_img .content_cars_cards_card_img_slides {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.content .container .content_cars .content_cars_cards .content_cars_cards_card .content_cars_cards_card_img .content_cars_cards_card_img_slides [class^=content_cars_cards_card_img_slides-] {
  width: 12px;
  height: 12px;
  border: 1px solid #2933AB;
  border-radius: 10px;
}
.content .container .content_cars .content_cars_cards .content_cars_cards_card .content_cars_cards_card_img .content_cars_cards_card_img_slides [class^=content_cars_cards_card_img_slides-]:hover {
  border: none;
  background-color: #2933AB;
  width: 13px;
  height: 13px;
}
.content .container .content_cars .content_cars_cards .content_cars_cards_card .content_cars_cards_card_name {
  display: flex;
  gap: 10px;
  align-items: center;
}
.content .container .content_cars .content_cars_cards .content_cars_cards_card .content_cars_cards_card_name h4 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  line-height: 19.5px;
  color: #000000;
}
.content .container .content_cars .content_cars_cards .content_cars_cards_card .content_cars_cards_card_discription p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 14.63px;
  color: #000000;
}
.content .container .content_cars .content_cars_cards .content_cars_cards_card .content_cars_cards_card_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.content .container .content_cars .content_cars_cards .content_cars_cards_card .content_cars_cards_card_info span {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  line-height: 21.94px;
  color: #000000;
}
.content .container .content_cars .content_cars_cards .content_cars_cards_card .content_cars_cards_card_info input {
  padding: 8px 37px;
  background-color: #2933AB;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  line-height: 19.5px;
  color: white;
}
.content .container .content_cars .content_cars_cards .content_cars_cards_card .content_cars_cards_card_info input:hover {
  padding: 6px 35px;
  border: 2px solid #2933AB;
  background: none;
  color: #000000;
}
.content .container .content_cars input[type=button] {
  border: 2px solid #2933AB;
  background: none;
  padding: 13px 90px;
  width: 325px;
  height: 50px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  color: #000000;
}
.content .container .content_cars input[type=button]:hover {
  padding: 17px 94px;
  background-color: #2933AB;
  border: none;
  color: white;
}/*# sourceMappingURL=catalog.css.map */