html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: center;
  padding: 36px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .header-logo img {
  width: 155px;
  height: 25px;
}
header .container .header-menu {
  display: flex;
  gap: 40px;
}
header .container .header-menu li {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  color: #000000;
}
header .container .header-info {
  display: flex;
  gap: 13px;
  align-items: center;
}
header .container .header-info input {
  padding: 8px 18px;
  background-color: #2933AB;
  border: none;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: white;
}
header .container .header-info input:hover {
  border: 2px solid #2933AB;
  background: none;
  padding: 7px 17px;
}

footer {
  padding: 150px 135px;
  background-color: #2933AB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .footer-info img {
  width: 307px;
  height: -moz-fit-content;
  height: fit-content;
}
footer .footer-info p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: white;
}
footer .footer-menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .footer-menu ul {
  display: flex;
  justify-content: space-between;
}
footer .footer-menu ul li {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: white;
}
footer .footer-menu .footer-menu_else-info {
  display: flex;
  gap: 25px;
}
footer .footer-menu .footer-menu_else-info a {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: white;
  text-decoration: underline;
}

header .container .header-menu li {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  color: white;
}

.container {
  width: 94.4444444444%;
}

.hero-image {
  background-image: url("../img/cars/hero-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.hero-image .hero-image_info {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 103px 155px 263px;
}
.hero-image .hero-image_info h1 {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 400;
  line-height: 78.02px;
  color: white;
  text-align: left;
}
.hero-image .hero-image_info input {
  padding: 13px 65px;
  border: 2px solid #2933AB;
  background: none;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  color: white;
}
.hero-image .hero-image_info input:hover {
  background-color: #2933AB;
  border: none;
  padding: 15px 67px;
}

.about-company {
  padding: 140px 0;
  display: flex;
  justify-content: center;
}
.about-company .container {
  display: flex;
  flex-direction: column;
  gap: 125px;
}
.about-company .container .about-company_info {
  display: flex;
  align-items: center;
  gap: 35px;
}
.about-company .container .about-company_info .about-company_info_content {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.about-company .container .about-company_info .about-company_info_content h2 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  line-height: 48.76px;
  color: #000000;
}
.about-company .container .about-company_info .about-company_info_content .about-company_info_content_text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-company .container .about-company_info .about-company_info_content .about-company_info_content_text p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #000000;
}
.about-company .container .about-company_info img {
  width: 46.5277777778%;
  height: -moz-fit-content;
  height: fit-content;
}
.about-company .container .about-company_advantages {
  display: flex;
  justify-content: space-between;
}
.about-company .container .about-company_advantages [class^=about-company_advantages_] {
  display: flex;
  gap: 8px;
  width: 20%;
}
.about-company .container .about-company_advantages [class^=about-company_advantages_] img {
  width: 85px;
  height: -moz-fit-content;
  height: fit-content;
}
.about-company .container .about-company_advantages [class^=about-company_advantages_] .advantage-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.about-company .container .about-company_advantages [class^=about-company_advantages_] .advantage-content h3, .about-company .container .about-company_advantages [class^=about-company_advantages_] .advantage-content p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  line-height: 19.5px;
  color: #000000;
  width: 100%;
}

.receipts {
  display: flex;
  justify-content: center;
  background-color: #E6E7EF;
  padding: 85px 0;
  margin-bottom: 118px;
}
.receipts .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.receipts .container h2 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  line-height: 48.76px;
  color: #000000;
  text-align: center;
}
.receipts .container .receipts_slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 37px;
  width: 100%;
}
.receipts .container .receipts_slider .receipts_slider_first {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.receipts .container .receipts_slider .receipts_slider_first .receipts_slider_first_cards {
  display: flex;
  gap: 100px;
}
.receipts .container .receipts_slider .receipts_slider_first .receipts_slider_first_cards .receipts_slider_first_cards_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  width: 325px;
}
.receipts .container .receipts_slider .receipts_slider_first .receipts_slider_first_cards .receipts_slider_first_cards_card .receipts_slider_first_cards_card_img {
  background-image: url("../img/cars/volkswagen-tiguan.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  height: 345px;
}
.receipts .container .receipts_slider .receipts_slider_first .receipts_slider_first_cards .receipts_slider_first_cards_card .receipts_slider_first_cards_card_img .receipts_slider_first_cards_card_img_slides {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.receipts .container .receipts_slider .receipts_slider_first .receipts_slider_first_cards .receipts_slider_first_cards_card .receipts_slider_first_cards_card_img .receipts_slider_first_cards_card_img_slides [class^=receipts_slider_first_cards_card_img_slides-] {
  width: 12px;
  height: 12px;
  border: 1px solid #2933AB;
  border-radius: 10px;
}
.receipts .container .receipts_slider .receipts_slider_first .receipts_slider_first_cards .receipts_slider_first_cards_card .receipts_slider_first_cards_card_img .receipts_slider_first_cards_card_img_slides [class^=receipts_slider_first_cards_card_img_slides-]:hover {
  border: none;
  background-color: #2933AB;
  width: 13px;
  height: 13px;
}
.receipts .container .receipts_slider .receipts_slider_first .receipts_slider_first_cards .receipts_slider_first_cards_card .receipts_slider_first_cards_card_name {
  display: flex;
  gap: 10px;
  align-items: center;
}
.receipts .container .receipts_slider .receipts_slider_first .receipts_slider_first_cards .receipts_slider_first_cards_card .receipts_slider_first_cards_card_name h4 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  line-height: 19.5px;
  color: #000000;
}
.receipts .container .receipts_slider .receipts_slider_first .receipts_slider_first_cards .receipts_slider_first_cards_card .receipts_slider_first_cards_card_discription p {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: #000000;
}
.receipts .container .receipts_slider .receipts_slider_first .receipts_slider_first_cards .receipts_slider_first_cards_card .receipts_slider_first_cards_card_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.receipts .container .receipts_slider .receipts_slider_first .receipts_slider_first_cards .receipts_slider_first_cards_card .receipts_slider_first_cards_card_info span {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.94px;
  color: #000000;
}
.receipts .container .receipts_slider .receipts_slider_first .receipts_slider_first_cards .receipts_slider_first_cards_card .receipts_slider_first_cards_card_info input {
  padding: 8px 37px;
  background-color: #2933AB;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  line-height: 19.5px;
  color: white;
}
.receipts .container .receipts_slider .receipts_slider_first .receipts_slider_first_cards .receipts_slider_first_cards_card .receipts_slider_first_cards_card_info input:hover {
  padding: 6px 35px;
  border: 2px solid #2933AB;
  background: none;
  color: #000000;
}
.receipts .container .receipts_slider .receipts_slider_first img:nth-of-type(2) {
  transform: rotate(180deg);
}
.receipts .container .receipts_slider .receipts_slider_second {
  display: flex;
  gap: 18px;
}
.receipts .container .receipts_slider .receipts_slider_second [class^=receipts_slider_second_slide-] {
  width: 20px;
  height: 20px;
  border: 2px solid #2933AB;
  border-radius: 20px;
}
.receipts .container .receipts_slider .receipts_slider_second [class^=receipts_slider_second_slide-]:hover {
  border: none;
  background-color: #2933AB;
  width: 22px;
  height: 22px;
}/*# sourceMappingURL=main.css.map */