html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: center;
  padding: 36px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .header-logo img {
  width: 155px;
  height: 25px;
}
header .container .header-menu {
  display: flex;
  gap: 40px;
}
header .container .header-menu li {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  color: #000000;
}
header .container .header-info {
  display: flex;
  gap: 13px;
  align-items: center;
}
header .container .header-info input {
  padding: 8px 18px;
  background-color: #2933AB;
  border: none;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: white;
}
header .container .header-info input:hover {
  border: 2px solid #2933AB;
  background: none;
  padding: 7px 17px;
}
header .container .header-info a {
  display: flex;
  align-items: center;
}

footer {
  padding: 150px 135px;
  background-color: #2933AB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .footer-info img {
  width: 307px;
  height: -moz-fit-content;
  height: fit-content;
}
footer .footer-info p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: white;
}
footer .footer-menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .footer-menu ul {
  display: flex;
  justify-content: space-between;
}
footer .footer-menu ul li {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: white;
}
footer .footer-menu .footer-menu_else-info {
  display: flex;
  gap: 25px;
}
footer .footer-menu .footer-menu_else-info a {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: white;
  text-decoration: underline;
}

header .container .header-menu li:nth-of-type(3) a {
  color: #2933AB;
  font-weight: bold;
}

.container {
  width: 94.4444444444%;
}

.heading {
  display: flex;
  justify-content: center;
  padding: 127px 0 100px;
}
.heading h1 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  line-height: 48.76px;
  color: #000000;
}

.services {
  display: flex;
  justify-content: center;
  margin-bottom: 140px;
}
.services .container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.services .container .services_card {
  width: 49.2647058824%;
  height: 370px;
  display: flex;
  flex-direction: row-reverse;
}
.services .container .services_card .services_card_content {
  padding: 20px 20px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #2933AB;
  border-left: none;
}
.services .container .services_card .services_card_content .services_card_content_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.services .container .services_card .services_card_content .services_card_content_text h4 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  line-height: 24.38px;
  color: #000000;
}
.services .container .services_card .services_card_content .services_card_content_text .services_card_content_text_p {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: #000000;
}
.services .container .services_card .services_card_content .services_card_content_text .services_card_content_text_p ul {
  list-style: inside;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: #000000;
}
.services .container .services_card .services_card_content .services_card_content_text .services_card_content_text_p ul li {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  color: #000000;
}
.services .container .services_card .services_card_content span {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  line-height: 29.26px;
  color: #000000;
}
.services .container .services_card .services_card_content span span {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  line-height: 18.29px;
  color: #000000;
}
.services .container .services_card img {
  height: 100%;
  width: 34.328358209%;
  -o-object-fit: cover;
     object-fit: cover;
}

.calc {
  padding: 90px 0px;
  display: flex;
  justify-content: center;
  background-color: #E6E7EF;
}
.calc .calc_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 46.5277777778%;
}
.calc .calc_content h2 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  line-height: 48.76px;
  color: #000000;
}
.calc .calc_content .calc_content_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.calc .calc_content .calc_content_info .calc_content_info_services {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.calc .calc_content .calc_content_info .calc_content_info_services .calc_content_info_services_card {
  padding: 15px 60px;
  border: 2px solid #2933AB;
  display: flex;
  justify-content: space-between;
}
.calc .calc_content .calc_content_info .calc_content_info_services .calc_content_info_services_card span:first-of-type {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  color: #000000;
}
.calc .calc_content .calc_content_info .calc_content_info_services .calc_content_info_services_card span:last-of-type {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  line-height: 29.26px;
  color: #000000;
}
.calc .calc_content .calc_content_info .calc_content_info_services .calc_content_info_services_card:hover {
  background-color: #2933AB;
}
.calc .calc_content .calc_content_info .calc_content_info_services .calc_content_info_services_card:hover span {
  color: white;
}
.calc .calc_content .calc_content_info span {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 400;
  line-height: 58.51px;
  color: #000000;
}
.calc .calc_content .calc_content_info span span {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: bold;
  line-height: 58.51px;
  color: #000000;
}/*# sourceMappingURL=services.css.map */