$blue:#2933AB;
$white:white;
$gray:#E6E7EF;
$text:#000000;

@mixin text ($fs, $fw, $lh, $color){
    font-family: Montserrat;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $color;
}

@import "./blocks/reset";

@import "./blocks/header";
@import "./blocks/footer";

.container{
    width: (1440px - 80px) * 100% / 1440px;
}

.heading{
    display: flex;
    justify-content: center;
    padding: 127px 0 100px;

    h1{
        @include text (40px, bold, 48.76px, $text);
    }
}

.account{
    width: 1130px * 100% / 1440px;
    display: flex;
    justify-content: center;
    gap: 60px;

    .account_buttons{
        width: 400px * 100% / 1130px;
    }
}

