$blue:#2933AB;
$white:white;
$gray:#E6E7EF;
$text:#000000;

@mixin text ($fs, $fw, $lh, $color){
    font-family: Montserrat;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $color;
}

@import "./blocks/reset";

@import "./blocks/header";
@import "./blocks/footer";

header{
    .container{
        .header-menu{
            li:nth-of-type(5){
                a{
                    color: $blue;
                    font-weight: bold;
                }
            }
        }
    }
}

.container{
    width: (1440px - 80px) * 100% / 1440px;
}

.heading{
    display: flex;
    justify-content: center;
    padding: 127px 0 100px;

    h1{
        @include text (40px, bold, 48.76px, $text);
    }
}

.content-news{
    display: flex;
    justify-content: center;
    margin-bottom: 110px;

    .container{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;

        .content-news_card{
            width: 440px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                width: 100%;
            }

            .content-news_card_content{
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                h4{
                    @include text (16px, bold, 19.5px, $text);
                }

                p{
                    @include text (12px, 400, 14.63px, $text);
                }

                .content-news_card_content_date-and-btn{
                    display: flex;
                    justify-content: space-between;

                    .content-news_card_content_date-and-btn_date{
                        padding: 6px 41px;
                        border: 2px solid $gray;
                        @include text (16px, 400, 19.5px, $text);
                    }

                    input[type="button"]{
                        padding: 10px 35px;
                        background-color: $blue;
                        @include text (16px, 400, 19.5px, $white);
                        width: fit-content;
                        border: none;
                    }
                }
            }
        }
    }
}
