$blue:#2933AB;
$white:white;
$gray:#E6E7EF;
$text:#000000;

@mixin text ($fs, $fw, $lh, $color){
    font-family: Montserrat;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $color;
}

@import "./blocks/reset";

@import "./blocks/header";
@import "./blocks/footer";

header{
    .container{
        .header-menu{
            li:nth-of-type(3){
                a{
                    color: $blue;
                    font-weight: bold;
                }
            }
        }
    }
}

.container{
    width: (1440px - 80px) * 100% / 1440px;
}

.heading{
    display: flex;
    justify-content: center;
    padding: 127px 0 100px;

    h1{
        @include text (40px, bold, 48.76px, $text);
    }
}

.services{
    display: flex;
    justify-content: center;
    margin-bottom: 140px;

    .container{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;

        .services_card{
            width: 670px * 100% / (1440px - 80px);
            height: 370px;
            display: flex;
            flex-direction: row-reverse;
            // align-items: center;

            .services_card_content{
                padding: 20px 20px 20px 40px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: 2px solid $blue;
                border-left: none;

                .services_card_content_text{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    h4{
                        @include text (20px, bold, 24.38px, $text);
                    }

                    .services_card_content_text_p{
                        @include text (12px, 400, 14.63px, $text);

                        ul{
                            list-style: inside;
                            @include text (12px, 400, 14.63px, $text);

                            li{
                                @include text (12px, 400, 14.63px, $text);
                            }
                        }
                    }
                }

                span{
                    @include text (24px, bold, 29.26px, $text);

                    span{
                        @include text (15px, bold, 18.29px, $text);
                    }
                }
            }

            img{
                height: 100%;
                width: 230px * 100% / 670px;
                object-fit: cover;
            }
        }
    }
}

.calc{
    padding: 90px 0px;
    display: flex;
    justify-content: center;
    background-color: $gray;

    .calc_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 670px * 100% / 1440px;

        h2{
            @include text (40px, bold, 48.76px, $text);
        }

        .calc_content_info{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 35px;

            .calc_content_info_services{
                display: flex;
                flex-direction: column;
                gap: 20px;

                .calc_content_info_services_card{
                    padding: 15px 60px;
                    border: 2px solid $blue;
                    display: flex;
                    justify-content: space-between;

                    span:first-of-type{
                        @include text (20px, 400, 24.38px, $text);
                    }

                    span:last-of-type{
                        @include text (24px, bold, 29.26px, $text);
                    }

                    &:hover
                    // &:active
                    {
                        background-color: $blue;

                        span{
                            color: $white;
                        }
                    }
                }    
            }

            span{
                @include text (48px, 400, 58.51px, $text);

                span{
                    @include text (48px, bold, 58.51px, $text);
                }
            }
        }
    }
}
